
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: Arial, sans-serif;
    background-color: #eaf6ff;
    color: #17324d;
    line-height: 1.6;
}


header {
    background-color: #1687d9;
    color: white;
}


.navbar {
    width: 90%;
    max-width: 1100px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 18px 0;
}


.logo {
    font-size: 24px;
    font-weight: bold;
}


.nav-links {
    list-style: none;

    display: flex;
    gap: 25px;
}


.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}



.nav-links a:hover {
    color: #d9f2ff;
}



.weather-section {
    text-align: center;
    padding: 60px 20px;
}


.weather-section h1 {
    font-size: 42px;
    color: #0877c9;
}


.description {
    margin-top: 10px;
    margin-bottom: 25px;
    color: #526b7d;
}


.search-box {
    display: flex;
    justify-content: center;

    max-width: 500px;
    margin: 0 auto 15px;
}


.search-box input {
    width: 70%;
    padding: 13px;

    border: 1px solid #b8d9ed;
    border-radius: 8px 0 0 8px;

    font-size: 16px;
    outline: none;
}


.search-box button {
    width: 30%;

    border: none;
    border-radius: 0 8px 8px 0;

    background-color: #1687d9;
    color: white;

    font-size: 16px;
    cursor: pointer;
}



.search-box button:hover {
    background-color: #096caf;
}


#message {
    min-height: 25px;
    color: #d9534f;
    font-weight: bold;
}



.weather-card {
    background-color: white;

    max-width: 600px;
    margin: 25px auto 0;

    padding: 30px;

    border-radius: 15px;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}


.weather-card h2 {
    font-size: 28px;
    color: #0877c9;
}


.temperature {
    margin: 10px 0;
}


#temperature {
    font-size: 55px;
    font-weight: bold;
    color: #17324d;
}


#condition {
    font-size: 20px;
    margin-bottom: 25px;
}



.weather-details {
    display: flex;
    justify-content: space-around;
    gap: 15px;
}


.detail {
    background-color: #eef8ff;

    padding: 15px;

    border-radius: 10px;

    flex: 1;
}


.detail h3 {
    font-size: 15px;
    color: #587185;
}


.detail p {
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
}



.forecast-section {
    padding: 50px 20px;
    text-align: center;
}


.forecast-section h2,
.about-section h2 {
    color: #0877c9;
    margin-bottom: 25px;
}


.forecast-container {
    max-width: 1100px;
    margin: auto;

    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}


.forecast-card {
    background-color: white;

    width: 220px;

    padding: 25px 15px;

    border-radius: 12px;

    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);

    transition: transform 0.3s;
}


.forecast-card h3 {
    color: #0877c9;
    margin-bottom: 10px;
}


.forecast-card p {
    margin-bottom: 10px;
}


.forecast-card strong {
    font-size: 24px;
}



.forecast-card:hover {
    transform: translateY(-5px);
}


.about-section {
    max-width: 800px;
    margin: auto;

    text-align: center;

    padding: 50px 20px;
}


.about-section p {
    color: #526b7d;
}


footer {
    background-color: #17324d;
    color: white;

    text-align: center;

    padding: 20px;

    margin-top: 20px;
}


@media (max-width: 600px) {

    .navbar {
        flex-direction: column;
        gap: 12px;
    }


    .nav-links {
        gap: 15px;
    }


    .weather-section h1 {
        font-size: 34px;
    }


    .search-box {
        width: 100%;
    }


    .weather-details {
        flex-direction: column;
    }


    .detail {
        width: 100%;
    }


    .forecast-card {
        width: 100%;
        max-width: 300px;
    }
}